.card-design-button{
    
        border:none;
        color: white;
        font-weight: 500;
        padding:0.5vw 1.5vw;
        background-color: grey;
        font-size: max(1vw,13px);
        border-radius: 50px;
    }
    
.card-design-button:hover{
        opacity: 0.7;
        transition: ease 0.3s;
    }
    

