.navbar {
    color: #49557e;
    display: flex;
    justify-content: space-between; /* Space between logo, menu, and icons */
    align-items: center; /* Vertically center items */
    width: 100%; /* Full width */
    padding: 10px 20px; /* Add padding around navbar */
    box-sizing: border-box; /* Include padding in width */
    background-color: #ffffff; /* Optional: Background color */
    margin-bottom: 40px;/*for margin below the banner*/
}

.navbar h2 {
    color: crimson;
    margin: 0; 
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 40px; /* Spacing between list items */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    align-items: center; /* Vertically align list items */
}

.navbar-menu li {
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px; /* Optional padding for better clickability */
    transition: 0.05s, border-bottom 0.05s;
}

.navbar-menu a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Ensure it inherits the color of the parent */
  }
  
.navbar-menu .active {
    border-bottom: 2px solid #49557e; /* Highlight active menu item */
    padding-bottom: 2px;
    font-weight: bold; /* Optional: Make it bold */
}

.navbar-right {
    display: flex;
    align-items: center; /* Vertically align icons */
    gap: 15px; /* Spacing between icons */
}

.icon {
    width: 30px;
    height: 30px;
    cursor: pointer; /* Show pointer on hover */
}

.Logout{
    border: 2px solid #747474;
    color: #747474;
    font-weight: 500;
    padding:0.5vw 1.5vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;

    transition: all 0.3s ease-in; /* Smooth transition for hover effects */
}

.Logout:hover {
    background-color: #747474; /* Change background color */
    color: white; /* Change text color */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */
    transition: ease-in;
}

