.Homeconta{
  background-color: white;
  height: 100vh; /* Set the height to fill the screen */
  margin: 0; /* Remove default margins */
  padding: 18px 70px; /* Remove default padding */
  
  font: Outfit; /*imported from google*/
  
}
html, body {
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  height: 100%; /* Ensure the body fills the viewport height */
  background-color: white; /* Default background color */
}
  